# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
\#*
calc
*moc*.c*
calc_ui_qt/calc_ui_qt
calc_ui_qt/Makefile
calc_qt
ui_calc.h
.qmake.stash
*.stash
/TAGS
build/
Makefile
CMakeFiles/
cmake_install.cmake
*Cache*
*CACHE*
*cache*
.*Cache*
.*cache*
.*CACHE*
.qmake*
*.odt
*.html
*.pdf
/src/testClient
/-
/src/calcServer
